<ion-header>
  <ion-navbar color="primary">
   
    <ion-title style="margin-left: -12px">Ubah Usulan</ion-title>

  </ion-navbar>
</ion-header>

<ion-content style="background-color: whitesmoke">
  
  <ion-input type="hidden" [(ngModel)]="id"></ion-input>

  <ion-card style="margin: 0px 0px 10px 0px; width: auto">
    <div style="margin-right: 8px">
      <ion-item no-lines>
        <ion-label stacked>Tanggal</ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" min="2015" [(ngModel)]="tanggal"
            monthShortNames="Jan, Feb, Mar, Apr, Mei, Jun, Jul, Agt, Sept, Okt, Nov, Des" doneText="Pilih" cancelText="Batal" style="background-color:rgb(230, 230, 230); border-radius: 5px; height: 35px; padding-left: 8px; padding-top: 8px">
          </ion-datetime>
  </ion-item>

      <ion-item no-lines>
        <ion-label stacked>Judul Usulan</ion-label>
        <ion-input type="text" [(ngModel)]="judul" style="background-color:rgb(230, 230, 230); border-radius: 5px; height: 35px; padding-left: 8px"></ion-input>
  </ion-item>
  
      <ion-item no-lines style="margin-bottom: -15px">
        <ion-label stacked>Kategori</ion-label>
        <ion-select [(ngModel)]="id_kategori" interface="popover" style="background-color:rgb(230, 230, 230); border-radius: 5px; height: 35px; padding-left: 8px">
          <ion-option ion-item *ngFor="let item of items.koleksi2" value="{{ item2.id }}">{{ item2.namakategori }}</ion-option>
    </ion-select>
  </ion-item>
    </div>
  
  <ion-input type="hidden" [(ngModel)]="id_warga"></ion-input>
  <ion-input type="hidden" [(ngModel)]="longitude"></ion-input>
  <ion-input type="hidden" [(ngModel)]="latitude"></ion-input>
  
  <!--<button ion-button icon-left style="text-align: center">
    <ion-icon name="pin"></ion-icon>
    Lokasi
  </button>
  <div padding style="height: 350px;background-color: rgba(0, 0, 0, 0);" id="map_canvas3"></div>-->


  <!-- Pencarian Otomatis -->
   <ion-toolbar>
      <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()" placeholder="Pencarian Lokasi"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
      <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
  </ion-list>
  <div #pleaseConnect id="please-connect">
      <p>Silahkan Konek ke Internet...</p>
  </div>
  <div #map id="map" padding style="height: 350px;">
      <ion-spinner></ion-spinner>
  </div> 

  <div style="margin-bottom: 15px; margin-right: 8px">
  <ion-item>
      <ion-label stacked>Keterangan Lokasi <br><i>*misal: RT/RW/Dusun</i></ion-label>
      <ion-input type="text" [(ngModel)]="lokasi" style="background-color:rgb(230, 230, 230); border-radius: 5px; height: 35px; padding-left: 8px"></ion-input>
  </ion-item>
  </div>
</ion-card>


  <!-- FOTO -->
<ion-card style="margin: 10px 0px 10px 0px; width: auto">

  <ion-title style="text-align: center; margin-top: 10px">Foto</ion-title>

  <ion-item>
    <ion-row>
      <ion-col>
      <button ion-button full style="text-transform: none ; text-align: center" (click)="takeFile()">
        <ion-icon name="images" style="zoom:1.6 ; padding-right: 5px"></ion-icon>Dari Album
      </button>
    </ion-col>
    <ion-col>
      <button ion-button full style="text-transform: none ; text-align: center" (click)="takePhoto()">
        <ion-icon name="camera" style="zoom:1.6 ; padding-right: 5px" ></ion-icon>Ambil Foto
      </button>
    </ion-col>
    </ion-row>

    <ion-slides pager>
      <ion-slide *ngFor="let photo of photos; let id = index">
        <ion-toolbar>
          <ion-buttons end>
            <button ion-button color="primary" (click)="deletePhoto(id)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
        <img [src]="photo" class="slide-image" style="height: 70vh; width: auto; margin: auto; display: block;"/>
        <ion-toolbar></ion-toolbar>
      </ion-slide>
    </ion-slides>
  </ion-item>

  <div style="margin-right: 7px; margin-bottom: 15px">
    <ion-item no-lines>
      <ion-label stacked>Volume</ion-label>
      <ion-input type="text" [(ngModel)]="volume" style="background-color:rgb(230, 230, 230); border-radius: 5px; height: 35px; padding-left: 8px"></ion-input>
  </ion-item>

    <ion-item no-lines>
        <ion-label stacked>Satuan</ion-label>
    <!--<ion-input type="text" [(ngModel)]="satuan" value="{{ item.satuan }}"></ion-input>-->
        <ion-select [(ngModel)]="satuan" interface="popover" style="background-color:rgb(230, 230, 230); border-radius: 5px; height: 35px; padding-left: 8px">
      <ion-option ion-item value="Orang">Orang</ion-option>
      <ion-option ion-item value="Meter">Meter</ion-option>
      <ion-option ion-item value="Unit">Unit</ion-option>
      <ion-option ion-item value="Paket">Paket</ion-option>
    </ion-select>
  </ion-item>
  </div>
</ion-card>

<ion-card style="margin: 10px 0px 10px 0px; width: auto">

  <ion-title style="text-align: center ; margin-top: 10px">Penerima Manfaat</ion-title>

  <div style="margin-right: 7px; margin-bottom: 15px">
      <ion-item no-lines>
        <ion-label stacked>Laki-Laki</ion-label>
        <ion-input type="text" [(ngModel)]="pria" style="background-color:rgb(230, 230, 230); border-radius: 5px; height: 35px; padding-left: 8px"></ion-input>
  </ion-item>
      <ion-item no-lines>
        <ion-label stacked>Perempuan</ion-label>
        <ion-input type="text" [(ngModel)]="wanita" style="background-color:rgb(230, 230, 230); border-radius: 5px; height: 35px; padding-left: 8px"></ion-input>
  </ion-item>
      <ion-item no-lines>
        <ion-label stacked>Rumah Tangga Miskin</ion-label>
        <ion-input type="text" [(ngModel)]="rtm" style="background-color:rgb(230, 230, 230); border-radius: 5px; height: 35px; padding-left: 8px"></ion-input>
  </ion-item>
      <ion-item no-lines>
        <ion-label stacked>Deskripsi Usulan</ion-label>
        <ion-textarea rows="5" cols="5" [(ngModel)]="deskripsi" style="background-color:rgb(230, 230, 230); border-radius: 5px; padding-left: 8px"></ion-textarea>
  </ion-item>
  </div>
</ion-card>


  <!-- PROPOSAL -->
<ion-card style="margin: 10px 0px 10px 0px; width: auto">
  <ion-title style="text-align: center ; margin-top: 10px">Proposal</ion-title>

  <ion-item>
    <ion-row>
      <ion-col>
      <button ion-button full style="text-transform: none ; text-align: center" (click)="takeFileProposal()">
        <ion-icon name="images" style="zoom:1.6 ; padding-right: 5px"></ion-icon>Dari Album
      </button>
    </ion-col>
    <ion-col>
      <button ion-button full style="text-transform: none ; text-align: center" (click)="takePhotoProposal()">
        <ion-icon name="camera" style="zoom:1.6 ; padding-right: 5px" ></ion-icon>Ambil Foto
      </button>
    </ion-col>
    </ion-row>

    <ion-slides pager>
      <ion-slide *ngFor="let prop of files; let id = index">
        <ion-toolbar>
          <ion-buttons end>
            <button ion-button color="primary" (click)="deletePhoto(id)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
        <img [src]="prop" class="slide-image" style="height: 70vh; width: auto; margin: auto; display: block;"/>
        <ion-toolbar></ion-toolbar>
      </ion-slide>
    </ion-slides>
  </ion-item>

  <ion-input type="hidden" [(ngModel)]="status" value="{{ item.status }}"></ion-input>

</ion-card>

</ion-content>

<ion-fab bottom right>
  <button ion-fab color="primary" style="margin-bottom:10px" (click)="editusulan()">
      <ion-icon name="checkmark" style="zoom:1.3"></ion-icon>
  </button>

  <button ion-fab color="primary" (click)="tombolhapus(item)">
    <ion-icon name="trash" style="zoom:1.3"></ion-icon>
  </button>
</ion-fab>