<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detail Pengaduan</ion-title>
    <ion-buttons start>
        <button ion-button (click)="tomboledit(item)" icon-only style="margin-right: 5px">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-buttons>

    <ion-buttons end>
        <button ion-button (click)="tombolhapus(item)" icon-only>
            <ion-icon name="trash"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  
<ion-content style="background-color: whitesmoke">

    <!-- <h3>{{ item.judul }}</h3>
    <p><b>Tanggal : </b>{{ item.tanggal }}</p>
    <p><b>Kategori :</b> {{ item.kategoripengaduan.namakategori }}</p>
    <p><b>Lokasi</b></p>
    <div style="height: 50%;background-color: rgba(0, 0, 0, 0);" id="map_canvas"></div>
    <p><b>Foto</b></p>
    <ion-slides pager>
      <ion-slide *ngFor="let photo of item.fotopengaduan">
        <img style="height: 70vh; width: auto; margin: auto; display: block;" src="http://sedesa.id/fotoupload/{{photo.foto}}" class="slide-image">
      </ion-slide>
    </ion-slides>
    <p><b>Detail Usulan</b> </p>
    <p>{{ item.deskripsi }}</p>  
    <p *ngIf="item.privasipengaduan == 1"><b>Privasi Pengaduan : </b>Public</p>
    <p *ngIf="item.privasipengaduan == 2"><b>Privasi Pengaduan : </b>Private</p>
    <p *ngIf="item.privasiidentitas == 1"><b>Privasi Identitas : </b>Public</p>
    <p *ngIf="item.privasiidentitas == 2"><b>Privasi Identitas : </b>Private</p> -->
<ion-card style="margin: 2px 0px 8px 0px; width: auto">
  <ion-grid>
      <ion-row>
          <ion-col style="max-width: 120px">
            <p><b>Judul Pengaduan</b></p>
          </ion-col>
          <ion-col style="max-width: 15px">
            <p><b>:</b></p>
          </ion-col>
          <ion-col>
            <p>Morbi efficitur velit ac massa volutpat dapibus. Duis eu faucibus.</p>
          </ion-col>
        </ion-row>
    <ion-row>
      <ion-col style="max-width: 120px">
        <p><b>Tanggal</b></p>
      </ion-col>
      <ion-col style="max-width: 15px">
        <p><b>:</b></p>
      </ion-col>
      <ion-col>
        <p>00 Desember 2018</p>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col style="max-width: 120px">
          <p><b>Kategori</b></p>
        </ion-col>
        <ion-col style="max-width: 15px">
          <p><b>:</b></p>
        </ion-col>
        <ion-col>
          <p>Kategori 1</p>
        </ion-col>
      </ion-row>
  
      <ion-row>
          <ion-col style="max-width: 120px">
            <p><b>Detail Pengaduan</b></p>
          </ion-col>
          <ion-col>
            <p><b>:</b></p>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="margin-top: -7px">
          <p>Maecenas rhoncus, quam at ultricies blandit, eros tellus auctor diam, in posuere sem risus nec felis. Integer nisl purus, pulvinar et commodo laoreet, gravida vitae purus. Integer laoreet suscipit diam. Pellentesque euismod faucibus bibendum. Nunc nisi diam, commodo at pellentesque in, mattis eu nunc. Proin tincidunt et odio ut congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-card>

<ion-card style="margin: 2px 0px 8px 0px; width: auto">
  <ion-title style="font-weight: bold; text-align: center; margin: 5px 0px">Lokasi</ion-title>
  <div style="height: 50%;background-color: rgba(0, 0, 0, 0);" id="map_canvas"></div>
</ion-card>

<ion-card style="margin: 2px 0px 8px 0px; width: auto">
  <ion-title style="font-weight: bold; text-align: center; margin: 5px 0px">Foto</ion-title>
  <ion-slides pager>
    <ion-slide>
      <img style="height: 70vh; width: auto; margin: auto; display: block;" src="home_slide/slide5.jpg">
    </ion-slide>
  </ion-slides>
</ion-card>

<ion-card style="margin: 2px 0px 8px 0px; width: auto">
  <ion-title style="font-weight: bold; text-align: center; margin: 5px 0px">Pengaturan Privasi</ion-title>
  <ion-grid>
    <ion-row style="text-align: center">
      <ion-col style="border-right: 1px solid gainsboro">
        <p style="font-size: 16px; font-weight: bold">Isi Pengaduan</p>
        <p>Public</p>
        <p>Private</p>
      </ion-col>
      <ion-col style="border-left: 1px solid gainsboro">
        <p style="font-size: 16px; font-weight: bold">Identitas</p>
        <p>Public</p>
        <p>Private</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>
</ion-content>