<ion-header>
  <ion-navbar color="primary">
    <ion-title>Ubah Pengaduan</ion-title>
  </ion-navbar>
</ion-header>
      
<ion-content>

  <ion-input type="hidden" [(ngModel)]="id" value="{{ item.id }}"></ion-input>

  <ion-card style="margin: 0px 0px 10px 0px; width: auto">
    <div style="margin-right: 8px">
      <ion-item>
        <ion-label stacked>Judul Pengaduan</ion-label>
        <ion-input type="text" [(ngModel)]="judul" value="{{ item.judul }}" style="background-color:rgb(230, 230, 230); border-radius: 5px; padding-left: 8px"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label stacked>Tanggal</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="tanggal" 
          monthShortNames="Jan, Feb, Mar, Apr, Mei, Jun, Jul, Agt, Sept, Okt, Nov, Des" style="background-color:rgb(230, 230, 230); border-radius: 5px; height: 35px; padding: 8px">
        </ion-datetime>
      </ion-item>
        
      <ion-item>
        <ion-label stacked>Kategori</ion-label>
        <ion-select [(ngModel)]="id_kategoripengaduan" interface="popover" style="background-color:rgb(230, 230, 230); border-radius: 5px; padding-left: 8px">
          <ion-option ion-item value="{{ item.id_kategoripengaduan }}"></ion-option>
          <ion-option ion-item *ngFor="let item of items.koleksi2" value="{{ item.id }}">{{ item.namakategori }}</ion-option>
        </ion-select>
      </ion-item>
        
      <ion-item>
        <ion-label stacked>Deskripsi Pengaduan</ion-label>
        <ion-textarea rows="8" [(ngModel)]="deskripsi" value="{{ item.deskripsi }}" style="background-color:rgb(230, 230, 230); border-radius: 5px; padding-left: 8px; margin-bottom: 15px"></ion-textarea>
      </ion-item>
    </div>
  </ion-card>
        
  <ion-input type="hidden" [(ngModel)]="id_warga" value="{{ item.id_warga }}"></ion-input>
  <ion-input type="hidden" [(ngModel)]="id_warga" value="{{ item.id_dusun }}"></ion-input>

  <ion-card style="margin: 10px 0px 10px 0px; width: auto">
    <button ion-button icon-left>
      <ion-icon name="pin"></ion-icon>
      Lokasi
    </button>
    <div padding style="height: 350px;background-color: rgba(0, 0, 0, 0);" id="map_canvas3"></div>
    <ion-input type="hidden" [(ngModel)]="longitude" value="{{ item.longitude }}"></ion-input>
    <ion-input type="hidden" [(ngModel)]="latitude" value="{{ item.latitude }}"></ion-input>  
    <ion-item>
      Foto
    <ion-slides pager>
      <ion-slide *ngFor="let photo of item.fotopengaduan">
        <img style="height: 70vh; width: auto; margin: auto; display: block;" src="http://sedesa.id/fotoupload/{{photo.foto}}">
      </ion-slide>
    </ion-slides>
    </ion-item>
  </ion-card>
        
  <ion-card style="margin: 10px 0px 10px 0px; width: auto">
      <ion-title style="text-align: center; margin-top: 10px; margin-bottom: 20px">Pengaturan Privasi</ion-title>
      <ion-grid>
        <ion-row>
          <ion-col style="border-right: 1px solid gainsboro">
            <ion-list radio-group [(ngModel)]="privasipengaduan" style="margin: 0px; width: auto">
              <p style="text-align: center">Isi Pengaduan</p>
              <ion-item>
                <ion-label>Public</ion-label>
                <ion-radio value="1" checked="true"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Private</ion-label>
                <ion-radio value="2"></ion-radio>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col style="border-left: 1px solid gainsboro">
            <ion-list radio-group [(ngModel)]="privasiidentitas" style="margin: 0px; width: auto">
            <p style="text-align: center">Identitas</p>
            <ion-item>
              <ion-label>Public</ion-label>
              <ion-radio value="1" checked="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Private</ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-input type="hidden" [(ngModel)]="status" value="{{ item.status }}"></ion-input>
      
</ion-content>

<ion-fab bottom right >
  <button ion-fab>
    <ion-icon name="menu"></ion-icon>
  </button>
    
  <ion-fab-list side="top" style="margin-left:-50px; bottom:-17px">
    <button ion-fab color="primary" (click)="editusulan()">
      <ion-icon name="checkmark" style="font-size: 27px"></ion-icon>
    </button>
  </ion-fab-list>
    
  <ion-fab-list side="left" >
    <button ion-fab color="primary" (click)="takePhoto()">
      <ion-icon name="ios-camera-outline" style="font-size: 29px; margin-top: -2px"></ion-icon>
    </button>
  </ion-fab-list>

  <ion-fab-list side="top">
    <button ion-fab color="primary" (click)="tombolhapus(item)">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab-list>
</ion-fab>