<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="margin-left: -12px">Usulan Per Dusun</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: whitesmoke">
    <!-- <ion-list *ngFor="let item of items.koleksi">
      <p *ngFor="let item2 of items.koleksi2">
        <button ion-item *ngIf="item.id == item2.id_warga" (click)="tomboldetail(item2)">
        {{ item2.judul }}
        <ion-icon name='ios-arrow-forward' item-end></ion-icon>
        </button>
      </p>
    </ion-list> -->

  <ion-list style="margin-top: -2px">
    <ion-card style="margin: 3px 0px; width: auto">
      <button ion-item (click)="tomboldetail(item2)">
        Judul Usulan 1
        <p style="font-size: 12px; color: gray">00 Desember 2018. 00:00</p>
        <ion-icon name='ios-arrow-forward' item-end></ion-icon>
      </button>
    </ion-card>
    
    <ion-card style="margin: 3px 0px; width: auto">
      <button ion-item (click)="tomboldetail(item2)">
        Judul Usulan 2
        <p style="font-size: 12px; color: gray">00 Desember 2018. 00:00</p>
        <ion-icon name='ios-arrow-forward' item-end></ion-icon>
      </button>
    </ion-card>
    
    <ion-card style="margin: 3px 0px; width: auto">
      <button ion-item (click)="tomboldetail(item2)">
        Judul Usulan 3
        <p style="font-size: 12px; color: gray">00 Desember 2018. 00:00</p>
        <ion-icon name='ios-arrow-forward' item-end></ion-icon>
      </button>
    </ion-card>
  </ion-list>
</ion-content>