<!--
  Generated template for the Page1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
  
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title style="margin-left: -12px" *ngIf="item == 'kependudukan'">Kependudukan</ion-title>
      <ion-title style="margin-left: -12px" *ngIf="item == 'peranwarga'">Peran Warga</ion-title>
      <ion-title style="margin-left: -12px" *ngIf="item == 'informasi'">Informasi</ion-title>
  
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>

  <!-- JIKA INFORMASI -->
  <div *ngIf="item == 'informasi'" style="margin: 10px 5px">
    <ion-list>
        <ion-row>
          <ion-col col-4 (click)="tb_wisata()">
            <ion-buttons>
            <ion-card class="menu_card">
              <img src="pariwisata.png" class="menu_icon">
              <p class="menu_title"><b>Pariwisata</b></p>
            </ion-card>
          </ion-buttons>
          </ion-col>
      
          <ion-col col-4 (click)="tb_kuliner()">
            <ion-buttons>
              <ion-card class="menu_card">
                <img src="kuliner.png" class="menu_icon">
                <p class="menu_title"><b>Kuliner</b></p>
              </ion-card>
            </ion-buttons>
          </ion-col>
      
          <ion-col col-4 (click)="tb_berita()">
            <ion-buttons>
              <ion-card class="menu_card">
                <img src="berita.png" class="menu_icon">
                <p class="menu_title"><b>Berita</b></p>
              </ion-card>
            </ion-buttons>
          </ion-col>
        </ion-row>
      
        <ion-row (click)="tb_event()">
          <ion-col col-4>
            <ion-buttons >
              <ion-card class="menu_card">
                <img src="event.png" class="menu_icon">
                <p class="menu_title"><b>Event</b></p>
              </ion-card>
            </ion-buttons>
          </ion-col>
      
          <ion-col col-4 (click)="tb_investasi()">
            <ion-buttons>
              <ion-card class="menu_card">
                <img src="investasi.png" class="menu_icon">
                <p class="menu_title"><b>Investasi</b></p>
              </ion-card>
            </ion-buttons>
          </ion-col>
      
          <ion-col col-4 (click)="tb_harga()">
            <ion-buttons>
              <ion-card class="menu_card">
                <img src="harga_pangan.png" class="menu_icon">
                <p style="text-transform: none; margin: 9px 2px 0px 2px; text-align: center; line-height: 1.0"><b>Harga Pangan</b></p>
              </ion-card>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-list>

      <ion-buttons style="margin-left: 7px; margin-right: 7px">
          <button ion-button block style="text-transform: none; font-size: 14px" (click)="semuaposting()">Lihat Semua</button>
      </ion-buttons>
  </div>

  <!-- JIKA PERAN WARGA -->
  <div *ngIf="item == 'peranwarga'" style="margin: 10px 5px">
    <ion-list>
      <ion-row>
        <ion-col col-4>
            <ion-card class="menu_card">
              <ion-buttons>
                  <img src="posting.png" class="menu_icon">
                  <p class="menu_title"><b>Posting</b></p>
              </ion-buttons>
            </ion-card>
        </ion-col>
    
        <ion-col col-4>
            <ion-card class="menu_card">
              <ion-buttons>
                <img src="usulan.png" class="menu_icon">
                  <p class="menu_title"><b>Usulan</b></p>
              </ion-buttons>
            </ion-card>
        </ion-col>
  
        <ion-col col-4>
            <ion-card class="menu_card">
              <ion-buttons>
                <img src="pengaduan.png" class="menu_icon">
                <p class="menu_title"><b>Pengaduan</b></p>
              </ion-buttons>
            </ion-card>
        </ion-col>
      </ion-row>
  
    </ion-list>
  </div>
  
  <!-- JIKA KEPENDUDUKAN -->
  <div *ngIf="item == 'kependudukan'" style="margin: 10px 5px">
      <ion-list>
          <ion-row>
            <ion-col col-4>
                <ion-card class="menu_card">
                  <ion-buttons>
                      <img src="layanan.png" class="menu_icon">
                      <p class="menu_title"><b>Layanan</b></p>
                  </ion-buttons>
                </ion-card>
            </ion-col>
        
            <ion-col col-4>
                <ion-card class="menu_card">
                  <ion-buttons>
                      <img src="pemetaan.png" class="menu_icon">
                      <p class="menu_title"><b>Pemetaan</b></p>
                  </ion-buttons>
                </ion-card>
            </ion-col>
      
            <ion-col col-4>
               
            </ion-col>
          </ion-row>
      
        </ion-list>
  </div>
  </ion-content>
  