page-home {

    .desa-home-slide {
        height: 40%;
        margin-bottom: 10px;
    }

    .small-thumbnail-title {
        font-size: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.1;
    }
    
    .menu_icon {
        height: 60px;
        width: 60px;
        margin: 0 auto;
        margin-top: 15px;
    }
    
    .menu_card {
        position: relative;
        border-radius: 10px;
        height : 115px;
        width: auto;
        margin: 0px
    }
    
    .menu_title {
        text-transform: none;
        margin-top: 5px;
        text-align: center;
    }

}
    