<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="margin-left: -12px">Sedesa.id</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--
  <div *ngFor="let item of items.daftarinformasi;">{{ item.judul}}</div>
  
  <div *ngFor="let item of items.daftarkategori;">{{ item.namakategori}}</div>
  
  <ion-item><b>Usulan Warga Terbaru</b></ion-item>
  <div *ngFor="let item2 of items2.koleksi; let i=index; let l=last;">
  <ion-card class="adv-map" *ngIf="l == true">
    <div style="position: relative">
      <ion-slides pager>
        <div *ngFor="let photo of items2.koleksifoto">
        <ion-slide *ngIf="item2.id == photo.id">
          <img style="height: 300px; width: 300px; margin: auto; display: block;" src="http://forkomperbekelbali.com/desa/public/fotoupload/{{photo.foto}}" class="slide-image">
          <ion-toolbar></ion-toolbar>
        </ion-slide>
        </div>
      </ion-slides>
    </div>
    <ion-item>
      <ion-icon color="subtle" large item-start name='ios-create-outline'></ion-icon>
      <h2>{{ item2.judul }}</h2>
      <p>{{ item2.deskripsi }}</p>
    </ion-item>
    <ion-item>
      <ion-icon color="subtle" large item-start name='pin'></ion-icon>
      <h2>Lokasi</h2>
      <p>Jalan Dusun Kaja, I No.5</p>
    </ion-item>
    <ion-item actions>
      <span ion-text item-start color="subtle">Diusulkan Oleh</span>
      <span ion-text item-start color="secondary" class="item-bold">{{ item2.warga.nama }}</span>
      <button ion-button color="secondary" clear item-end icon-start>
        Detail &nbsp;
        <ion-icon name='ios-arrow-forward'></ion-icon>
      </button>
    </ion-item>
  </ion-card>
  </div>-->


<br>
<ion-slides class="desa-home-slide">
  <ion-slide *ngFor="let item of items.daftarinformasi; let id = index">
    <img src="http://forkomperbekelbali.com/desa/public/fotoupload/{{ item.foto }}" class="slide-image" style="height: 70vh; width: auto; margin: auto; display: block;"/>
   </ion-slide>
</ion-slides>

<ion-list>
  <ion-card>
    <div>
      <!--<ion-card style="height: 30px">-->
        <ion-title style="text-align: center ; margin: 0 auto ; margin-top: 10px">Informasi Terbaru</ion-title>
      <!--</ion-card>-->
    </div>

  <!-- FOR -->
  <div *ngFor="let item2 of items.daftarposting;let id2 = index">
    <div *ngIf="id2 == 0">
        <ion-row>
          <ion-col (click)="detailinformasi(item2)">
          <ion-buttons>
            <ion-card>
            <img src="http://localhost:8000/fotoupload/{{ item2.foto }}">
            <p style="white-space: normal ; margin-top: 5px"><b>{{ item2.judul }}</b></p>
            <p style="font-size: 12px">{{ item2.created_at }} <!--Selasa, 00 Desember 0000. Jam 00:00 WIB--></p>
            </ion-card>
          </ion-buttons>
          </ion-col>
        </ion-row>
    </div>
    <div *ngIf="(id2 != 0) && (id2 <= 5)" (click)="detailinformasi(item2)">
      <ion-buttons>
        <ion-row>
          <ion-col style="max-width: 80px">
            <img src="http://localhost:8000/fotoupload/{{ item2.foto }}" alt="Poster" style="width: 70px ; height: 70px">
          </ion-col>
          <ion-col style="white-space: normal">
            <p style="font-size: 12px"><b>{{ item2.judul }}</b></p>
            <p style="font-size: 10px">{{ item2.created_at }}</p>
          </ion-col>
        </ion-row>
      </ion-buttons>
    </div>
  </div>
  <!--END FOR -->
  </ion-card>
</ion-list>
  
  <ion-list>
    <ion-card>
      <div>
        <!--<ion-card style="height: 30px">-->
          <ion-title style="text-align: center ; margin: 0 auto ; margin-top: 10px">Usulan Terbaru</ion-title>
        <!--</ion-card>-->
      </div>

    <!-- FOR -->
    <div *ngFor="let item3 of items.daftarusulan;let id3 = index">
      <div *ngIf="id3 == 0">
        <ion-card>
        <ion-buttons>
          <ion-row>
            <ion-col>
              <img src="pic.jpg">
              <p style="white-space: normal ; margin-top: 5px"><b>{{ item3.judul }}</b></p>
              <p style="font-size: 12px">{{ item3.created_at }} <!--Selasa, 00 Desember 0000. Jam 00:00 WIB--></p>
            </ion-col>
          </ion-row>
        </ion-buttons>
      </ion-card>
      </div>
      <div *ngIf="(id3 != 0) && (id3 <= 5)">
        <ion-buttons>
          <ion-row>
            <ion-col style="max-width: 80px">
              <img src="pic.jpg" alt="Poster" style="width: 70px ; height: 70px">
            </ion-col>
            <ion-col style="white-space: normal">
              <p style="font-size: 12px"><b>{{ item3.judul }}</b></p>
              <p style="font-size: 10px">{{ item3.created_at }}</p>
            </ion-col>
          </ion-row>
        </ion-buttons>
      </div>
    </div>
    <!--END FOR -->
    </ion-card>
  </ion-list>

  <ion-list>
      <ion-card>
        <div>
          <!--<ion-card style="height: 30px">-->
            <ion-title style="text-align: center ; margin: 0 auto ; margin-top: 10px">Pengaduan Terbaru</ion-title>
          <!--</ion-card>-->
        </div>

      <!-- FOR -->
      <div *ngFor="let item4 of items.daftarpengaduan;let id4 = index">
        <div *ngIf="id4 == 0">
          <ion-card>
          <ion-buttons>
            <ion-row>
              <ion-col>
                <img src="pic.jpg">
                <p style="white-space: normal ; margin-top: 5px"><b>{{ item4.judul }}</b></p>
                <p style="font-size: 12px">{{ item4.created_at }}<!--Selasa, 00 Desember 0000. Jam 00:00 WIB--></p>
              </ion-col>
            </ion-row>
          </ion-buttons>
        </ion-card>
        </div>
        <div *ngIf="(id4 != 0) && (id4 <= 5)">
          <ion-buttons>
            <ion-row>
              <ion-col style="max-width: 80px">
                <img src="pic.jpg" alt="Poster" style="width: 70px ; height: 70px">
              </ion-col>
              <ion-col style="white-space: normal">
                <p style="font-size: 12px"><b>{{ item4.judul }}</b></p>
                <p style="font-size: 10px">{{ item4.created_at }}</p>
              </ion-col>
            </ion-row>
          </ion-buttons>
        </div>
      </div>
      <!-- END FOR -->
      </ion-card>
    </ion-list>

    <div>
        <ion-card>
          <ion-row>
            <ion-col style="max-width: 110px">
              <img src="e-commerce.png" style="width: 100px ; height: 100px">
            </ion-col>
      
            <ion-col>
              <p style="font-size: 12px ; text-align: center"><b>Download Aplikasi Toko Desa memudahkan Warga desa bisa melakukan proses jual beli barang atau komoditas alam (perkebunan, pertanian, pertambangan, dll) antar sesama warga desa atau ke pembeli di seluruh Indonesia.</b></p>
              <img src="toko_desa_playstore.png" style="height: 35px ; width: 100px ; margin: 0 auto">
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
      <div padding>
        <ion-segment [(ngModel)]="home_menu" style="margin-top: -15px">
          <ion-segment-button value="kependudukan" style="text-transform: none ; font-size: 15px">
            Peran Warga
          </ion-segment-button>

          <ion-segment-button value="informasi" style="text-transform: none ; font-size: 15px">
            Informasi
          </ion-segment-button>
        </ion-segment>
      </div>
        
      <div padding [ngSwitch]="home_menu">
        <ion-list *ngSwitchCase="'kependudukan'">
          <ion-row style="margin-left: -15px ; margin-top: -30px">
      
              <ion-col style="margin-right: -20px">
                  <ion-buttons>
                  <ion-card class="menu_card">
                    <img src="posting.png" class="menu_icon">
                    <p class="menu_title">Posting</p>
                  </ion-card>
                </ion-buttons>
                </ion-col>
            
                <ion-col style="margin-right: -20px">
                  <ion-buttons>
                    <ion-card class="menu_card">
                      <img src="usulan.png" class="menu_icon">
                      <p class="menu_title">Usulan</p>
                    </ion-card>
                  </ion-buttons>
                </ion-col>
            
                <ion-col style="margin-right: -17px">
                  <ion-buttons>
                    <ion-card class="menu_card">
                      <img src="pengaduan.png" class="menu_icon">
                      <p class="menu_title">Pengaduan</p>
                    </ion-card>
                  </ion-buttons>
                </ion-col>
              </ion-row>
            
              <ion-row style="margin-left: -15px ; margin-top: -15px">
                <ion-col style="margin-right: -20px">
                  <ion-buttons>
                    <ion-card class="menu_card">
                      <img src="layanan.png" class="menu_icon">
                      <p class="menu_title">Layanan</p>
                    </ion-card>
                  </ion-buttons>
                </ion-col>
            
                <ion-col style="margin-right: -20px">
                  <ion-buttons>
                    <ion-card class="menu_card">
                      <img src="pemetaan.png" class="menu_icon">
                      <p class="menu_title">Pemetaan</p>
                    </ion-card>
                  </ion-buttons>
                </ion-col>
            
                <ion-col style="margin-right: -17px">
                  
                </ion-col>
      
          </ion-row>
        </ion-list>
              
        <ion-list *ngSwitchCase="'informasi'">
          <ion-row style="margin-left: -15px ; margin-top: -30px">
            <ion-col style="margin-right: -20px" (click)="tb_wisata()">
              <ion-buttons>
              <ion-card class="menu_card">
                <img src="pariwisata.png" class="menu_icon">
                <p class="menu_title">Pariwisata</p>
              </ion-card>
            </ion-buttons>
            </ion-col>
        
            <ion-col style="margin-right: -20px" (click)="tb_kuliner()">
              <ion-buttons>
                <ion-card class="menu_card">
                  <img src="kuliner.png" class="menu_icon">
                  <p class="menu_title">Kuliner</p>
                </ion-card>
              </ion-buttons>
            </ion-col>
        
            <ion-col style="margin-right: -17px" (click)="tb_berita()">
              <ion-buttons>
                <ion-card class="menu_card">
                  <img src="berita.png" class="menu_icon">
                  <p class="menu_title">Berita</p>
                </ion-card>
              </ion-buttons>
            </ion-col>
          </ion-row>
        
          <ion-row style="margin-left: -15px ; margin-top: -15px" (click)="tb_event()">
            <ion-col style="margin-right: -20px">
              <ion-buttons>
                <ion-card class="menu_card">
                  <img src="event.png" class="menu_icon">
                  <p class="menu_title">Event</p>
                </ion-card>
              </ion-buttons>
            </ion-col>
        
            <ion-col style="margin-right: -20px" (click)="tb_investasi()">
              <ion-buttons>
                <ion-card class="menu_card">
                  <img src="investasi.png" class="menu_icon">
                  <p class="menu_title">Investasi</p>
                </ion-card>
              </ion-buttons>
            </ion-col>
        
            <ion-col style="margin-right: -17px" (click)="tb_harga()">
              <ion-buttons>
                <ion-card class="menu_card">
                    <img src="info_harga.png" class="menu_icon">
                    <p class="menu_title">Harga Pangan</p>
                </ion-card>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-list>
      </div>
</ion-content>
