page-home {

    .desa-home-slide {
        height: 40%;
    }
    
    .menu_icon {
        height: 60px;
        width: 60px;
        margin: 0 auto;
        margin-top: 15px;
    }
    
    .menu_card {
        position: relative;
        border-radius: 10px;
        height : 110px;
        width: auto;
        align-items: center;
    }
    
    .menu_title {
        text-transform: none;
        margin-top: 5px;
        text-align: center;
    }
}
    